<form
  action="https://public.herotofu.com/v1/e7bc4080-018f-11ef-8940-81073fcea66e"
  method="post"
  accept-charset="UTF-8"
  class="form w-full"
  [formGroup]="form"
  #formElement
>
  <mat-form-field>
    <mat-label>Your Name</mat-label>
    <input
      matInput
      name="Name"
      id="name"
      type="text"
      required
      placeholder="Your Name"
      formControlName="name"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Your Email</mat-label>
    <input
      matInput
      name="Email"
      id="email"
      type="email"
      required
      placeholder="Your Email"
      formControlName="email"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Your Message</mat-label>
    <textarea
      matInput
      name="Message"
      id="message"
      type="text"
      required
      placeholder="Your Message"
      formControlName="message"
    >
    </textarea>
  </mat-form-field>
  <div>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
      (click)="formElement.submit()"
    >
      Submit
    </button>
    <div
      style="
        text-indent: -99999px;
        white-space: nowrap;
        overflow: hidden;
        position: absolute;
      "
      aria-hidden="true"
    >
      <input type="text" name="_gotcha" tabindex="-1" autocomplete="off" />
    </div>
  </div>
</form>
