<mat-card
  class="w-full min-w-72 max-w-[600px] !h-full !shadow-none !drop-shadow-none !border !border-gray-300 !rounded-xl"
>
  <ng-content slot="header"></ng-content>
  <mat-card-content class="h-full">
    <div class="w-full min-h-[400px] pt-4 flex-col">
      <h1 class="sectionTitle !text-2xl">{{ title }}</h1>
      <mat-divider></mat-divider>
      <div class="h-full w-full flex flex-col gap-4 text-lg">
        <p class="text-teal-500 font-bold">{{ companyName }}</p>
        <p>
          <span class="font-bold">Tech Used:</span> {{ techUsed | join : ", " }}
        </p>
        <p class="w-full">{{ description }}</p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div class="w-full flex flex-row justify-end p-4 gap-4">
      <a *ngIf="liveUrl" mat-flat-button [href]="liveUrl" target="_blank">
        See Live
      </a>

      <a
        *ngIf="codeUrl"
        mat-flat-button
        [color]="internalUrl ? undefined : 'primary'"
        [href]="codeUrl"
        target="_blank"
        >See Code</a
      >
      <button
        *ngIf="internalUrl"
        mat-flat-button
        color="primary"
        [routerLink]="internalUrl"
      >
        See Details
      </button>
    </div>
  </mat-card-footer>
</mat-card>
