<app-page>
  <div class="w-full flex flex-col gap-4 items-center text-gray-500">
    <h1 class="h1 text-teal-500">Contact</h1>
    <div class="flex flex-col items-center">
      <p>Let's get in touch!</p>
      <p>
        I can be reached by filling out the form below or by email at
        <a class="link" href="mailto:zaclovagi@gmail.com"
          >zaclovagi&#64;gmail.com</a
        >
      </p>
    </div>

    <app-contact-form class="w-full max-w-[600px]"></app-contact-form>
  </div>
</app-page>
