<!-- header -->
<div class="bar" [class.stickyBar]="($isAtTop | async) !== true">
  <div class="whitespace-nowrap">
    <button routerLink="/">
      <h1 class="title" [class.stickyTitle]="($isAtTop | async) !== true">
        {{ title }}
      </h1>
    </button>
  </div>
  <div class="nav-group">
    <a
      class="nav-item"
      [class.current]="tab.url === router.url"
      *ngFor="let tab of tabs"
      [routerLink]="tab.url"
    >
      <!-- <span *ngIf="tab.url === router.url">//</span> -->
      <mat-icon>{{ tab.icon }}</mat-icon>
      {{ tab.title }}
    </a>
  </div>
  <div class="visible lg:hidden">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let tab of tabs" [routerLink]="tab.url">
        <span [class.underline]="tab.url === router.url">
          {{ tab.title }}
        </span>
      </button>
    </mat-menu>
  </div>
</div>
