.bar {
  @apply w-full flex flex-row justify-between items-center p-4  text-teal-500 z-20;
}

.stickyBar {
  @apply bg-gradient-to-tr from-teal-950 to-teal-600 text-white border-none shadow-xl;
}

.stickyBar .nav-item {
  @apply hover:bg-white/20;
}
.stickyTitle {
  @apply text-white;
}
.nav-group {
  @apply hidden lg:flex flex-row gap-6 xl:gap-8;
}
.nav-item {
  @apply flex flex-row gap-1 p-2 rounded-md hover:bg-teal-500/20 items-center hover:scale-125;
}
.current {
  @apply flex flex-row gap-1 p-2 rounded-md bg-black/10 text-white;
}
.currentSticky {
  @apply text-teal-100;
}

.fullstackIcon {
  @apply w-12 h-12 rounded-full;
}

@keyframes slidedown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slidedown {
  animation: slidedown 0.5s;
}
