<mat-tab-group>
  <mat-tab label="About Me">
    <div class="flex flex-col gap-2 items-center w-full p-4 pb-20">
      <p class="aboutMe">
        Greetings! I'm Zac, a {{age}}-year-old full-stack developer residing in
        Canada's capital city, Ottawa.
      </p>

      <p class="aboutMe">
        My programming journey began with a passion for gaming and a curiosity
        about how games were built. Fuelled by this curiosity, I embarked on a
        self-taught adventure and dove head first into the depths of programming
        by decompiling the source code of Minecraft, making my own
        modifications. This is how I learned to program in Java. C# followed a
        few years later when I downloaded the Unity game engine in 2018. These
        hands-on experiences ignited my passion for coding and set me on the
        path to become the full-stack developer I am today. I furthered my
        knowledge and skills by pursuing formal education at Algonquin College,
        where I achieved solid grades, made it on to the dean's list, and
        graduated with a diploma in computer programming in December 2020.
      </p>

      <p class="aboutMe">
        Armed with a solid foundation and fueled by a relentless drive to learn
        and create, I continue to explore the ever-evolving landscape of
        technology. I also find immense joy in game development, where I blend
        my love for gaming with my passion for programming to craft immersive
        and engaging experiences. Whether it's building worlds, designing
        gameplay mechanics, or simply tinkering with new ideas, game development
        allows me to unleash my creativity and bring my visions to life. Armed
        with a solid foundation and fueled by a relentless drive to learn and
        create, I continue to explore the ever-evolving landscape of technology.
        I also find immense joy in game development, where I blend my love for
        gaming with my passion for programming to craft immersive and engaging
        experiences. Whether it's building worlds, designing gameplay mechanics,
        or simply tinkering with new ideas, game development allows me to
        unleash my creativity and bring my visions to life.
      </p>

      <p class="aboutMe">
        When I'm not immersed in the digital world, you'll likely find me
        wandering scenic forest trails, accompanied by my wonderful wife and our
        energetic lab puppy, soaking in the beauty of nature and the joys of
        companionship.
      </p>

      <p class="aboutMe">
        From the tranquility of nature walks to the excitement of game
        development, I'm thrilled to share my passions and experiences with you.
        Welcome to my corner of the digital universe!
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Resume">
    <div class="flex flex-col gap-2 items-center pt-4 overflow-hidden">
      <div class="w-full flex flex-col items-center">
        <p class="text-center p-4">
          Looking to download my resume? Please
          <a class="link" routerLink="/contact">contact me</a> to get a copy!
        </p>
        <pdf-viewer
          src="assets/resume.pdf#toolbar=0&navpanes=0"
          class="pdf"
          [render-text]="false"
          [stick-to-page]="true"
          [show-all]="true"
          [page]="1"
          [original-size]="true"
          [fit-to-page]="true"
          [show-borders]="false"
        ></pdf-viewer>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
