<div class="w-full flex flex-col items-center">
  <div class="section1">
    <img
      class="responsive-image rounded-full shadow-xl shadow-gray-500"
      src="assets/headshot.jpg"
    />
    <div class="flex flex-col gap-2 items-center">
      <h1 class="title text-cyan-800 whitespace-nowrap text-center">
        Zac Lovagi
      </h1>
      <h2 class="text-center">Full Stack Developer</h2>
      <p class="text-center">
        Welcome to my portfolio! I am an experienced full stack developer who is
        passionate about every aspect of web applications.
      </p>
    </div>
  </div>
  <div class="section2">
    <img class="responsive-image" src="assets/code-bro.png" />
    <div>
      <h1 class="title text-cyan-800">Full Stack Developer</h1>
    </div>
  </div>
</div>
<!-- <a href="https://storyset.com/web">Web illustrations by Storyset</a> -->
