// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
@tailwind base;
@tailwind components;
@tailwind utilities;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portfolio-primary: mat.define-palette(mat.$teal-palette);
$portfolio-accent: mat.define-palette(mat.$cyan-palette);
$portfolio-typography: mat.define-typography-config();

// The warn palette is optional (defaults to red).
$portfolio-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$portfolio-theme: mat.define-light-theme(
  (
    color: (
      primary: $portfolio-primary,
      accent: $portfolio-accent,
      warn: $portfolio-warn,
    ),
    typography: $portfolio-typography,
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($portfolio-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html {
  // @apply bg-codebro bg-no-repeat bg-cover;
  // background-color: #343434;
  // background-color: #fbf7f5;
  // @apply bg-gradient-to-tr from-teal-950 to-teal-600;;;
}

.btn {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

.title {
  @apply font-bold text-5xl;
}

.sectionTitle {
  @apply title text-cyan-800;
}

h1 {
  @apply font-bold text-3xl text-teal-500;
}
h2 {
  @apply font-bold text-2xl text-teal-500;
}

h3 {
  @apply font-bold text-xl text-teal-500;
}

.form {
  @apply flex flex-col gap-1;
}

p,
li {
  @apply text-gray-500;
}

.link {
  @apply text-blue-500 hover:underline italic;
}

// add the code bellow
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.responsive-image {
  @apply h-auto max-w-[300px] sm:max-w-[350px] md:max-w-[400px] lg:max-w-[500px] xl:max-w-[600px];
}
