<app-page>
  <div class="flex flex-col justify-center items-center gap-4">
    <h1 class="sectionTitle">Games</h1>
    <img
      src="assets/mobile-development.png"
      class="h-auto max-w-xs sm:max-w-sm md:max-w-md"
    />
    <p class="sectionTitle">Under Construction</p>
    <h3>
      This page is under construction! Please check back soon as I am actively
      working on this page!
    </h3>
    <p>
      In the mean time please visit my
      <a class="link" href="https://writingreality.itch.io" target="_blank"
        >itch.io</a
      >
      profile to view and play my games.
    </p>
  </div>
</app-page>
